:host {
	&::ng-deep {
		.p-dialog {
			width: 150px;
			margin: 0 auto 2rem auto;
			display: block;
		}
	}
}
tr{
	th{
		text-align: center;
	}
	td{
		text-align: center;
		padding-right: 2rem;
	}
}


/* .p-datatable-resizable-table {
	>.p-datatable-thead {
		>tr {
			>th {
				overflow: hidden;
				white-space: nowrap;
				max-width: 15rem;
			}
		}
	}
	>.p-datatable-tfoot {
		>tr {
			>td {
				overflow: hidden;
				white-space: nowrap;
				max-width: 15rem;
			}
		}
	}
	>.p-datatable-tbody {
		>tr {
			>td {
				overflow: hidden;
				white-space: nowrap;
				max-width: 15rem;
			}
		}
	}
} */