<button pbutton label="Print" type="button" icon="pi pi-print"
 ngxPrint printSectionId="invoice" [useExistingCss]="true"
 class="p-element p-button-outlined invoice-button p-button p-component" style="display: block; margin-bottom: 20px; margin-left: 6px">
  <span class="p-button-icon p-button-icon-left pi pi-print" aria-hidden="true"></span>
  <span class="p-button-label">Print</span>
</button>
<div  class="surface-card p-4 shadow-2 border-round">
    <div id="invoice" class="card py-8 px-6 md:px-8 overflow-auto">
        <div class="invoice">
            <div class="flex flex-wrap align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border pb-5 min-w-max">
                <div class="flex flex-column">
                    <img src="../../../../assets/images/logo_dark.png" width="80%">
                    <span class="mb-2">Jiron Ica 971 064 Huancayo,</span>
                    <span>PERÚ</span>
                </div>
                <div class="bg-right flex flex-column mt-5 md:mt-0">
                    <div class="text-2xl font-semibold text-left md:text-right mb-3">BOLETA DE VENTA</div>
                    <div class="flex flex-column">
                    <div class="flex justify-content-between align-items-center mb-2">
                        <span class="font-semibold mr-6">FECHA:</span><span>{{dataVenta?.fecha | date: 'dd/MM/yyyy hh:mm a':'UTC-10'}}</span>
                    </div>
                    <div class="flex justify-content-between align-items-center mb-2">
                        <span class="font-semibold mr-6">SERIE:</span><span>{{rellenarCeros(dataVenta?.numeroBoleta,6)}}</span>
                    </div>
                    <div class="flex justify-content-between align-items-center">
                        <span class="font-semibold mr-6">VENDEDOR:</span><span>{{empleado}}</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 mb-8 flex flex-column">
                <div class="mb-3 text-2xl font-semibold">CLIENTE</div>
                <div class="mb-2">
                    <span class="text-lg">
                        {{dataCliente?.apellidoPat + ' '+ dataCliente?.apellidoMat}}, {{dataCliente?.nombres}}
                    </span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-600 text-lg">Documento: </span>
                    <span>{{dataCliente?.nroDocumento}}</span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-600 text-lg">Direccion: </span>
                    <span>{{dataCliente?.direccion}}</span>
                </div>
                <div class="mb-2">
                    <span class="font-semibold text-600 text-lg">Correo: </span>
                    <span>{{dataCliente?.correo}}</span>
                </div>
                <div>
                    <span class="font-semibold text-600 text-lg">Celular: </span>
                    <span>{{dataCliente?.celular}}</span>
                </div>
            </div>
            <div #tabla id="tabla" class="invoice-items overflow-x-auto">
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unit.</th>
                            <th>SubTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of detailVenta">
                            <td>
                                <span *ngFor="let product of lstProductos">
                                    {{(product.id === sale.idMueble) ? product.nombre :''}}
                                </span>
                            </td>
                            <td>{{sale.cantidad}}</td>
                            <td>
                                <span *ngFor="let product of lstProductos">
                                    {{(product.id === sale.idMueble) ? (product.precioVenta | currency: 'S/ ') :''}}
                                </span>
                            </td>
                            <td>{{sale.subtotal | currency: 'S/ '}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="invoice-summary overflow-x-auto">
                <table>
                    <tbody>
                        <!-- <tr>
                            <td>IGV:</td>
                            <td>$00,00</td>
                        </tr> -->
                        <tr>
                            <td>Total:</td>
                            <td>{{dataVenta?.montoPago | currency: 'S/ '}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="invoice-notes">
                <div class="font-bold font-italic text-700">Nota: Gracias por su compra, vuelva pronto!!</div>
            </div>
        </div>
    </div>
</div>